<h1>Estadisticas</h1>

<p>@Html.ActionLink("Compras de mayor valor", "MayorValor", "Compras")</p>
<p>@Html.ActionLink("Actividades por fecha y categoria", "FechaCategoria", "Actividades")</p>
<p>@Html.ActionLink("Actividades por lugar", "NombreActividades", "Actividades")</p>
