<h2>Registrarse</h2>

<form id="idForm1" method="post">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" id="idNombre"><br>
    <label>Apellido:</label><br>
    <input type="text" name="apellido" id="idApellido"><br>
    <label>Email:</label><br>
    <input type="text" name="email" id="idCorreo"><br>
    <label>Fecha de nacimiento:</label><br>
    <input type="date" name="fechaNacimiento" id="idFn"><br>
    <label>Contraseña</label><br>
    <input type="password" name="password" id="idPass"><br>
    <label>Nombre de usuario</label><br>
    <input type="text" name="nick" id="idNick"><br>
    <input type="submit" value="Registrar" id="btnSub">

</form>
<p id="Pmsj">@ViewBag.Msj</p>

<script src="~/js/validacionesRegistro.js"></script>





